
/****************************************
  Components
*****************************************/

.nav {
    height: 80px;
    line-height: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    
}
.nav a {
    padding: 10px 30px 10px 0px;
    height: 100%;
    text-transform: uppercase;
    color: $grey-color-light;
}
.nav a.active{
    color: $grey-color-dark;
}
.nav a:hover{
    text-decoration: none;
    color: $grey-color-dark;

}

main h1 {
    margin-top: 0px;
    font-size: 74px;
    font-family: 'Rubik One', sans-serif;
    color: $brand-color-2;
}


p {
    font-family: 'Raleway', sans-serif;
}


/**
 * Countdown
 */
 .countdown {
    margin: 0px;
    padding: 0px;
    display: -webkit-box; 
    display: flex;
 }
.countdown li {   

    display: inline;
}

.countdown .part{
    -webkit-box-flex: 1;
    flex: 1;
}
.countdown .part > span {
    display: block;
    font-size: 0.65em;
    text-align: center;
    text-transform: uppercase;
}
.countdown .part .t {
    color: $grey-color-dark;
    font-size: 2em;
}
.countdown .part .l {
    font-weight: bold;
    color: $grey-color-light;
}
.countdown .space {
    color: $grey-color-light;
    font-size: 2em;
}


/**
 * Register Button
 */
.reg {
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: $brand-color;
    color: white;
    text-transform: uppercase;
}
.reg::after {
    padding-left: 1em;
    content: "➔";
}
.reg:focus {outline:0;}

/**
 * Content Box
 */

.content-box {
    background-color: #fff;
    color: $text-color;
    padding: 20px 40px ;
    border-radius: 3px;
    box-shadow: 0px 0px 15px -5px #000;
}

.content-box h3 {
    margin-top: 0px;
    font-size: 2em;
}

.content-box i {
    font-size: .75em;
}
.content-box .where {
    color: #FDB90A;
}

.content-box .when {
    color: #148D29;
}

.content-box .donate {
    color: #CE5B09;
}


/**
 * Arrow
 */


/**
 * Sponsor Tile
 */

.sponsor-tile {
    text-align: center;
    display: inline-block;
    width: 270px;
    height: 290px;
    vertical-align: top;
    color: #3C6807;
    background-color: $background-color;
    padding-top: 55px;
    position: relative;
    margin: 0 10px;
    -webkit-transform: translate(0px,25px);
    transform: translateY(25px);

    border-radius: 5px;
    box-shadow: 0px 0px 15px -5px #000;

}

.sponsor-tile .content {
    
    color: $text-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: $grey-color-super-light; 
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;

}

.sponsor-tile .content .left, .sponsor-tile .content .right {
    display: inline-block;
    margin:0;
    position: absolute;
    top: 0;
    bottom:0;
    font-weight: 100;
    vertical-align: middle;


}
.sponsor-tile .content .left {
    left: 0;    
    sbackground-color: $grey-color-light;   
    width: 75%;
    text-align: left;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}

.sponsor-tile .content .right {
    line-height: 60px;
    font-size:1.5em;
    right: 0;
    sbackground-color: rgba(0, 125, 0, 0.25);
    width: 25%;
}

.sponsor-tile .content a, .sponsor-tile .content a:visited, .sponsor-tile .content a:hover {
    color: $text-color;
}




/**
 * Frame images for Vertical alignment
 */

.frame { 
    height: 100px;      /* set to max image height on .frame img */
    white-space: nowrap;
    text-align: center; 

}
.frame .helper { /*helps verticle align image*/
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}



.frame img {
    vertical-align: middle;
    max-height: 100px;
    max-width: 200px;
}

/*Helper for round images*/
img.round {
    border-radius: 50%;
}


.social {
    width: 50px;
}

.rotate {

    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);

}